<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off"
                  xdt:Transform="Replace"/>
    <machineKey validationKey="31D82C230FEFC6680C5490835DB959A79CCAFAFD322C154B24FFB236C438E40579C61BD4C431EC6A5C15661A773FA14A8D5DB35E08A635A65895309D33D5B600"
                decryptionKey="18E86010CCF95FC91FF479EDAA0F55A982E0F3A3E179DED7372D32533E3C1DBF"
                validation="SHA1"
                decryption="AES"
                xdt:Transform="Replace"/>
    <trace enabled="false"
           xdt:Transform="Replace"/>
  </system.web>
      
  <system.webServer>
    <directoryBrowse enabled="false"
                     xdt:Transform="Replace" />
  </system.webServer>

    <appSettings>
      <add key="PasswordKey"
             value="540063007A0073002A0029007B0028007C004F005E002D002D006200370034006E0038004E003400790028003D002D0053003E005B0057007A00710055003E00"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="DataEncryptionKey"
             value="FWWFxHtYbY+Http6BT6smMTzRbAFgJcFXtgNTKEmNlz/p1j2qWX7js0fdIZD349XT/lD+stFHbkjQvZKTIM8VHI7lryvSMk0sL2VUisiBcHdm7E70poKbjoUvsP5uKEwkC5CeSDbfnABiw/pb2h03nFxWOIy0oDa5R5+gjsQV2g="
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
        <add key="RunJobsInIISContext"
             value="true"
             xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>  
    </appSettings>

</configuration>